@import url("https://rsms.me/inter/inter.css");

html {
	color: var(--color);
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

:root {
	--nav-height: 40px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--background);
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	color: var(--color);
	border-bottom: var(--a-border);
	font-size: 18px;
	font-weight: 500;
}

a:hover {
	border-bottom-width: 2px;
	color: var(--a-color);
}

p {
	color: var(--color-secondary);
	font-size: 18px;
	line-height: 28px;
}

.short {
	max-width: 400px;
}

button {
	color: var(--button-color);

	font-size: 20px;
	font-weight: 500;

	padding: 8px 15px;

	outline: none;
	border: none;
	border-radius: 15px;

	background: var(--button-background);

	transition: all 0.2s ease;
}

button:hover {
	cursor: pointer;
	filter: brightness(0.8);
}

h1.header {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 800;
}

p.header {
	font-size: 25px;
}
