@import url('https://rsms.me/inter/inter.css');

html {
	color: var(--color);
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

:root {
	--nav-height: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--background);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--color);
	border-bottom: var(--a-border);
	font-size: 18px;
	font-weight: 500;
}

a:hover {
	border-bottom-width: 2px;
	color: var(--a-color);
}

p {
	color: var(--color-secondary);
	font-size: 18px;
	line-height: 28px;
}

.short {
	max-width: 400px;
}

button {
	color: var(--button-color);

	font-size: 20px;
	padding: 5px 15px;

	outline: none;
	border: none;
	border-radius: 10px;

	background: var(--button-background);
	background-size: 200%;

	transition: all 0.3s ease;
	font-weight: 500;

	margin: 2px;
}

button:hover {
	cursor: pointer;
	transform: scale(1.05);
	animation: 1s button infinite linear;
	background-position-x: 100%;
}
