:root {
	--background: black;

	--color: white;
	--color-secondary: rgb(180, 180, 180);

	--header-background: linear-gradient(45deg, rgb(236, 44, 92), rgb(236, 191, 44));
	--header-color: black;
	--header-color-secondary: rgb(31, 31, 31);

	--button-color: black;
	--button-background: linear-gradient(45deg, rgb(223, 64, 43), rgb(255, 154, 60));

	--footer-border: 1px solid rgba(255, 255, 255, 0.1);
	--footer-emoji: "👋";

	--nav-background: rgba(0, 0, 0, 0);
	--nav-border: 1px solid rgba(0, 0, 0, 0.1);
	--nav-color: rgb(0, 0, 0);

	--a-border: 1px solid rgb(184, 58, 0);
	--a-color: rgb(184, 58, 0);

	--license-border: 1px solid rgba(255, 255, 255, 0.1);
	--license-raw-background: rgb(19, 19, 19);
	--license-raw-border: 1px solid rgba(255, 255, 255, 0.1);
}
