:root {
	--background: white;

	--color: rgb(0, 0, 0);
	--color-secondary: rgb(71, 71, 71);

	--header-background: linear-gradient(45deg, rgb(236, 44, 92), rgb(236, 191, 44));
	--header-color: white;
	--header-color-secondary: rgb(211, 211, 211);

	--button-color: white;
	--button-background: linear-gradient(45deg, rgb(201, 53, 27), rgb(214, 126, 43));

	--footer-border: 1px solid rgba(0, 0, 0, 0.2);
	--footer-emoji: "👋🏿";

	--a-border: 1px solid rgb(150, 16, 143);
	--a-color: rgb(150, 16, 143);
}
